@model List<Doctor>

<h1>Doctores SQL Server y Oracle DI</h1>

<p>
    <a asp-controller="Doctores"
       asp-action="Create">
        Create new
    </a>
</p>
<p>
    <a asp-controller="Doctores"
    asp-action="DoctoresEspecialidad">
        Buscador doctores
    </a>
</p>

<table class="table table-warning">
    <thead>
        <tr>
            <th>Id</th>
            <th>Apellido</th>
            <th>Especialidad</th>
            <th>Salario</th>
            <th>Hospital</th>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (Doctor doc in Model)
        {
            <tr>
                <td>@doc.IdDoctor</td>
                <td>@doc.Apellido</td>
                <td>@doc.Especialidad</td>
                <td>@doc.Salario</td>
                <td>@doc.IdHospital</td>
                <td>
                    <a asp-controller="Doctores"
                    asp-action="Delete"
                    asp-route-iddoctor="@doc.IdDoctor"
                    class="btn btn-danger">
                        Delete
                    </a>
                    <a asp-controller="Doctores"
                       asp-action="Edit"
                       asp-route-iddoctor="@doc.IdDoctor"
                       class="btn btn-info">
                        Edit
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>